<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>About Us</h4>
            <p>Cartvana. Delivers quality products with passion and precision, putting our customers' satisfaction and seamless shopping experience at the heart of everything we do.</p>
        </div>
        <div class="footer-section">
            <h4>Quick Links</h4>
            <a href="{{ url_for('ui.home') }}">Home</a>
            <a href="{{ url_for('ui.shop') }}">Shop</a>
            <!-- <a href="{{ url_for('ui.search') }}">Search</a> -->
            <!-- <a href="{{ url_for('ui.my_cart') }}">MyCart</a> -->
        </div>
        <div class="footer-section">
            <h4>Contact</h4>
            <p>Email: info@Cartvana.com</p>
            <p>Phone: (555) 123-4567</p>
            <p>Address: 123 Nature Street, Green City</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Cartvana. All rights reserved.</p>
    </div>
</footer>
