<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartvana.</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    {% include 'ui/components/nav.html' %}

    <div class="container">
        <div class="left-section">
            <div class="logo">Cartvana.</div>
            <div class="text-content">
                Quality products<br>crafted with care.<br>That’s the experience<br>you get from us.
            </div>
            <button class="shop-button">Shop Now</button>
        </div>
        <div class="right-section"></div>
    </div>
    <div class="story-section">
        <div class="story-image"></div>
        <div class="story-text">
            <h2>Our Shop Story</h2>
            <p>Cartvana. Delivers quality products with passion and precision, putting our customers' satisfaction and seamless shopping experience at the heart of everything we do.</p>
        </div>
    </div>
    <div class="categories-section">
        <h2>Categories</h2>
        <div class="categories-grid">
            {% for category in categories %}
            <div class="category-item">
                <div class="category-image" style="background-image: url('data:image/jpeg;base64,{{ category.image_data|b64encode|safe }}')"></div>
                <h3>{{ category.name }}</h3>
                <button class="category-button" onclick="window.location.href='{{ url_for('ui.shop') }}?category={{ category.id }}'">Shop Now</button>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'ui/components/footer.html' %}
    
    <script src="{{ url_for('static',filename='js/home.js')}}"></script>
</body>
</html>